@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&family=Martian+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

a {
  color: #717C98;
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  transition: all 0.5s ease;
  cursor: none;
}

a:hover {
  color: #5FF2D1;
}

.App {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px 0 20px 0;
  box-sizing: border-box;
  background-color: #0A192F;
  color: #717C98;
  font-family: 'Barlow', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  position: relative;
  cursor: none;
  z-index: 100;
}
.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: #fff;
}
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

.main {
  width: 1160px;
  height: auto;
  min-height: 100%;
  background-color: inherit;
  margin: 0 auto;
  padding: 0 20px;
}

/* MAIN RESPONSIVENESS */
@media (max-width: 870px) {
  .main {
    width: auto;
  }
}

.aqua {
  color: #5FF2D1;
  cursor: pointer;
}


.left {
  position: fixed;
  bottom: 130px;
  left: 60px;
  display: flex;
  flex-direction: column-reverse;
  right: auto;
  gap: 15px;
}

.left a {
  font-size: 1.4rem;
  font-weight: 600;
  color: #a8b2d1;
  transition: all 0.3s ease;
}
.left a:hover {
  color: #5FF2D1;
}
.left::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 70px;
  width: 2px;
  background-color: #a8b2d1;
  height: 100px;
}



.right {
  width: 40px;
  position: fixed;
  bottom: 300px;
  right: 51px;
  display: flex;
  flex-direction: column;
}

.right a {
  font-size: .9rem;
  font-family: 'Martian Mono', monospace;
  color: #a8b2d1;
  transition: all 0.3s ease;
}

.right a:hover {
  color: #5FF2D1;
}

.right::after {
  content: "";
  position: fixed;
  bottom: 0;
  right: 70px;
  width: 2px;
  background-color: #a8b2d1;
  height: 100px;
}




@media screen and (max-width: 1200px) {
  .left {
    left: 30px;
  }
  
  .left::after {
    left: 40px;
  }

  .right {
    right: 20px;
  }
  .right::after {
    right: 40px;
  }

  .main {
    width: 89%;
    margin: 0 auto;
  }
  
}

@media screen and (max-width: 900px) {
  .left {
    left: 15px;
    height: 80px;
  }
  .left a {
    font-size: 1rem;
  }
  
  .left::after {
    left: 20px;
  }

  .right {
    right: 0px;
    bottom: 260px;
  }
  .right a {
    font-size: .7rem;
  }
  .right::after {
    right: 20px;
  }

  .main {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 680px) {
  .main  {
    width: 100%;
    margin: 0 auto;
  }
  .left, 
  .right {
    display: none;
  }
  .App {
    padding: 0;
    z-index: 1;
  }
  .cursor-dot {
    display: none;
  }
  .cursor-outline {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .main {
    width: 100%;
    cursor: pointer;
  }
  .cursor-dot {
    display: none;
  }
  .cursor-outline {
    display: none;
  }
}